@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
$paper-bottom: (normal: #ddb533,
doing: #33f533);
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #dec084 url(bg.jpg) 0 0 no-repeat;
	background-size: cover;
	font-family: "Segoe UI", sans-serif;
	overflow-y: auto;
	.row {
		margin: 2em auto;
		padding: 1.2em 0;
		&:after {
			clear: both;
			content: "";
			display: block;
		}
		.note {
			background: linear-gradient(to bottom, #f9ef2f, #f4c838);
			border-radius: 0 0 0 15px;
			box-shadow: -8px 12px 18px -5px;
			float: left;
			margin: 2em;
			position: relative;
			transform: rotate(-15deg); // set by js
			width: 15rem;
			&-top {
				background: #f9ef2f;
				height: 1.5em;
				position: relative;
				.tooltip {
					background: #fff;
					border-radius: 7px;
					left: 30%;
					opacity: 0;
					padding: 0.5em;
					position: absolute;
					top: 2em;
					transform: rotate(15deg); // set by js
					transition: 0.3s;
					&:before {
						border: 0.2em solid transparent;
						border-bottom: 1em solid #fff;
						content: "";
						display: block;
						left: 1em;
						position: absolute;
						top: -1em;
						transform: rotate(15deg);
					}
				}
				.pushpin {
					cursor: pointer;
					background: #24b8da;
					border-radius: 50%;
					color: #fff;
					display: block;
					height: 1.5em;
					margin: auto;
					position: relative;
					text-align: center;
					top: -10px;
					width: 1.5em;
					&:hover+.tooltip {
						opacity: 1;
					}
				}
			}
			&-body {
				max-height: 17em !important;
				overflow: hidden;
				padding: 1em 1em 3em;
				text-align: justify;
			}
			@at-root %selector:before,
			%selector:after {
				background: map-get($paper-bottom, normal);
				border-radius: 5em 0;
				bottom: 0;
				box-shadow: -3px -2px 3px rgba(#000, .5);
				content: "";
				display: block;
				height: 1em;
				left: 0.7em;
				position: absolute;
				width: 105%;
			}
			@extend %selector;
			&:before {
				background: #f4c838;
				border-radius: 0 0 2em 2em;
				bottom: 0.1em;
				box-shadow: inset -9px -17px 22px -25px;
				left: 0;
				width: 1.7em;
				z-index: 2;
			}
			&:nth-of-type(2n) {
				transform: rotate(15deg);
				.tooltip {
					&:before {
						left: 40%;
					}
					transform: rotate(-15deg);
				}
			}
			&.doing {
				background: linear-gradient(to bottom, #56e456, #3df03d);
				.note-top {
					background: #56e456;
				}
				&::before {
					background: #3df03d;
				}
				&::after {
					background: map-get($paper-bottom, doing);
				}
			}
			&#note-sample {
				display: none
			}
		}
	}
	#takeNote {
		$size: 3rem;
		background: transparent;
		border-radius: 2em;
		cursor: pointer;
		height: $size;
		position: fixed;
		right: 1em;
		top: 1em;
		transition: .5s;
		width: $size;
		&:before {
			background: #f9ef2f;
			border-radius: 50%;
			content: "+";
			display: inline-block;
			font-size: 2em;
			font-weight: bold;
			height: $size;
			position: absolute;
			text-align: center;
			transition: 0.7s;
			width: $size;
		}
		&:after {
			content: '';
			display: block;
			line-height: 3rem;
			text-align: right;
			width: 9em;
		}
		&:hover {
			&:before {
				background: map-get($paper-bottom, normal);
				transform: rotate(-180deg);
			}
			&:after {
				content: 'Take a note';
			}
			background: #f9ef2f;
			width: 10em;
		}
	}
	.modal-note {
		bottom: 0;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition: .5s;
		visibility: hidden;
		&:before {
			background: rgba(black, 0.6);
			content: "";
			display: block;
			height: 100%;
			width: 100%;
		}
		&.show {
			opacity: 1;
			visibility: visible;
		}
		.paper {
			background: linear-gradient(to bottom, #f9ef2f, #f4c838);
			left: 50%;
			padding: 0.5em 0.5em 2em;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 40%;
			span {
				color: red;
				cursor: pointer;
				float: right;
				margin: 0 .5em .5em 0;
			}
			&-content {
				background: transparent;
				border: none;
				display: block;
				height: 12em;
				margin-bottom: 1em;
				overflow-y: auto;
				padding: 1em;
				resize: none;
				width: 100%;
			}
			#stickyNote {
				background: transparent;
				border: 1px solid red;
				color: red;
				cursor: pointer;
				float: right;
				font: 700 1.5em/1em "Gloria Hallelujah", cursive;
				margin-right: 2em;
				padding: 0.5em;
				text-decoration: underline;
				transform: rotate(-15deg);
			}
		}
	}
}